*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.desktop
*.dsc
*.flatpak
*.flatpak-builder
*.o
*.rlm
*.rpm
*.service
*.spec
*.tar.xz
changelog
easpanel*.tar.gz
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
depcomp
helpers/install_python.sh
install-sh
Makefile
Makefile.in
missing
moc_*
repo
src/easp/alert.cpp
src/easp/alert.h
src/easp/cmdswitch.cpp
src/easp/cmdswitch.h
src/easp/config.cpp
src/easp/config.h
src/easp/easp
src/easp/profile.cpp
src/easp/profile.h
src/easbelt/alert.cpp
src/easbelt/alert.h
src/easbelt/cmdswitch.cpp
src/easbelt/cmdswitch.h
src/easbelt/config.cpp
src/easbelt/config.h
src/easbelt/easbelt
src/easbelt/profile.cpp
src/easbelt/profile.h
src/tests/alert.cpp
src/tests/alert.h
src/tests/cmdswitch.cpp
src/tests/cmdswitch.h
src/tests/config.cpp
src/tests/config.h
src/tests/profile.cpp
src/tests/profile.h
src/tests/test_alert_manifest
