#!/usr/bin/make -f

build:	
	dh_update_autotools_config
	dh_autoreconf
	./configure --prefix=/usr
	make $(DEBUILD_MAKE_ARGS)

binary:	
	dh_testroot
	dh_prep
	dh_auto_install
	dh_installchangelogs ChangeLog

#
# easpanel
#
	mkdir -p debian/easpanel/usr/bin
	mv debian/tmp/usr/bin/easp debian/easpanel/usr/bin
	mkdir -p debian/easpanel/usr/share/applications
	mv debian/tmp/usr/share/applications/com.paravelsystems.easpanel.desktop debian/easpanel/usr/share/applications/
	mkdir -p debian/easpanel/usr/share/easpanel
	mv debian/tmp/usr/share/easpanel/attention.wav debian/easpanel/usr/share/easpanel/
	mkdir -p debian/easpanel/usr/share/icons/hicolor/16x16/apps
	mv debian/tmp/usr/share/icons/hicolor/16x16/apps/easpanel.png debian/easpanel/usr/share/icons/hicolor/16x16/apps/
	mkdir -p debian/easpanel/usr/share/icons/hicolor/22x22/apps
	mv debian/tmp/usr/share/icons/hicolor/22x22/apps/easpanel.png debian/easpanel/usr/share/icons/hicolor/22x22/apps/
	mkdir -p debian/easpanel/usr/share/icons/hicolor/32x32/apps
	mv debian/tmp/usr/share/icons/hicolor/32x32/apps/easpanel.png debian/easpanel/usr/share/icons/hicolor/32x32/apps/
	mkdir -p debian/easpanel/usr/share/icons/hicolor/48x48/apps
	mv debian/tmp/usr/share/icons/hicolor/48x48/apps/easpanel.png debian/easpanel/usr/share/icons/hicolor/48x48/apps/
	mkdir -p debian/easpanel/usr/share/easpanel
	cp conf/easpanel-sample.conf debian/easpanel/usr/share/easpanel/

#
#easpanel-belt
#
	mkdir -p debian/easpanel-belt/lib/systemd/system
	mv debian/tmp/lib/systemd/system/easbelt.service debian/easpanel-belt/lib/systemd/system/
	mkdir -p debian/easpanel-belt/usr/sbin
	mv debian/tmp/usr/sbin/easbelt debian/easpanel-belt/usr/sbin/
	mkdir -p debian/easpanel-belt/usr/share/easpanel-belt
	mv conf/easpanel-sample.conf debian/easpanel-belt/usr/share/easpanel-belt/

	dh_strip_nondeterminism
	dh_compress
	dh_fixperms
	dh_missing
	dh_dwz
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:	
	dh $@
